<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        const user = /*[[${user}]]*/ {};
        const age = /*[[${user.age}]]*/ 20;
        console.log(user);
        console.log(age);
    </script>
</head>
<body>
    <h1>
        <span th:text="|欢迎您:${user.name}|">请登录</span>
    </h1>
    <h2>
        <p>Name: <span th:text="${user.name}">Jack</span></p>
        <p>Age: <span th:text="${user.age}">21</span></p>
        <p>Friend: <span th:text="${user.friend.name}">Rose</span></p>
    </h2>
    <h2 th:object="${user}">
        <p>Name: <span th:text="*{name}">Jack</span></p>
        <p>Age: <span th:text="*{age}">21</span></p>
        <p>Friend: <span th:text="*{friend.name}">Rose</span></p>
    </h2>
    <h2 th:object="${user}">
        <p>FirstName: <span th:text="*{name.split(' ')[0]}">Jack</span></p>
        <p>LastName: <span th:text="*{name.split(' ')[1]}">Li</span></p>
    </h2>
</body>
</html>